#diagramContainer {
    padding: 20px;
    width:80%; height: 1200px;
    border: 1px solid gray;
    position: relative;
}

.item {
    position: absolute;
}
.triangle {
    width: 0; 
    height: 0; 
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;  
    border-bottom: 75px solid blue;
}
.triangle:before {
    content: "";
    width: 0; 
    height: 0;
    position: absolute; 
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;  
    border-bottom: 65px solid white;
    top:6px;
    left: -65px;
}
.item.rectangle {
    height:80px; width: 80px;
    border: 1px solid blue;
}
.item.circle {
    height:80px; width: 80px;
    border: 1px solid blue;
    border-radius: 100px
}
.item.start {
    height:80px; width: 200px;
    border: 1px solid blue;
}