
<input type="text" class="form-control" placeholder="Id" [value]="idSample" (input)="idSample = $event.target.value">
<input type="text" class="form-control" placeholder="Object Name" [value]="objectName" (input)="objectName = $event.target.value">
<span class="btn btn-primary" (click)="addObject()">Add Object</span>
<span class="btn btn-primary" (click)="result()">{{buttonName}}</span>
<span class="btn btn-primary" (click)="add('OR')">Add OR</span>
<span class="btn btn-primary" (click)="add('AND')">Add AND</span>
<span class="btn btn-primary" (click)="add('NOT')">Add NOT</span>
<div #container id="diagramContainer">
</div>
